<div *ngIf="equisequisequis">
  <h2>Producto o Servicio Seleccionado :</h2>
  <table border="1" >
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
    <tr>
      <td>{{equisequisequis.codigo}}</td>
      <td>{{equisequisequis.descripcion}}</td>
      <td>{{equisequisequis.precio}}</td>
    </tr>
    <tr>
      <td>{{equisequisequis.codigo}} - {{yeyezetazeta}}</td>
      <td>{{yeyezetazeta}} - {{equisequisequis.descripcion}}</td>
      <td>{{equisequisequis.precio}} - {{yeyezetazeta}}</td>
    </tr>
  </table>
</div>
