<div *ngIf="ejercicioSelDetalle">
  <h2>Ejercicio Seleccionado:</h2>
  <div>
    <table border="1">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ ejercicioSelDetalle.id }}</td>
          <td>{{ ejercicioSelDetalle.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />

  <h2>Relación de Productos y/o Servicios :</h2>
  <ul class="ejercicios">
    <li
      *ngFor="let prodServ of listadoDeProdServ"
      (click)="clickEnUnProdServ(prodServ)"
      [class.prodServSele]="prodServ === prodServSeleccionado"
    >
      <span class="ejercicio">{{ prodServ.codigo }}</span
      >{{ prodServ.descripcion }} => {{ prodServ.precio }}
    </li>
  </ul>

  <hr />

  <app-ejercicio-det-det [xxx]="prodServSeleccionado" [yyzz]="otraPropiedadDeLaClase"></app-ejercicio-det-det>
</div>
